.merriweather- {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.banner {
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    width: 1330px;
    height: 600px;
    margin-left: 270px;
    margin-right: 140px;
    margin-top: 40px;
    border-radius: 16px;
    background-size: cover;

}

.banner-position {
    padding: 165px 345px 175px 390px;
}

.banner-sub-title {
    font-size: 35px;
    color: #FFFFFF;
    margin-left: 70px;
}

.banner-title {
    font-size: 70px;
    color: #FFFFFF;
    margin-top: 16px;
}

.section-margin {
    padding: 120px 340px 120px 500px;
}

.section-title {
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    margin-left: 205px;
}

.section-description {
    font-size: 24px;
    font-weight: 16px;
    color: #FF0000;
    margin-left: 205px;
    margin-top: 45px;
}

.section-sub-title {
    font-size: 48px;
    font-weight: bold;
    columns: #070211;
    margin-left: 205px;
    margin-top: 14px;
}

.secondary-column {
    display: flex;
    width: 88%;
    gap: 35px;
}

.secondary-bg {
    background-image: url(../images/Vectorrr.png);
    width: 1330px;
    height: 600px;
    margin-left: 270px;
    margin-right: 140px;
    margin-top: 20px;
    border-radius: 16px;
    background-size: cover;
}

.secondary-margin {
    margin-top: 120px;
    margin-left: 120px;
}

.secondary-title {
    font-size: 65px;
    color: #FFFFFF;
}

.secondary-description {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 24px;
    margin-bottom: 40px;
}

.join-link {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 40px;
}

.new-year-banner {
    margin-top: 70px;
}


.location-bg {
    background-color: #f9eeee;
    width: 1330px;
    height: 450px;
    margin-left: 270px;
    margin-right: 140px;
    margin-top: 110px;
    border-radius: 16px;
    background: linear-gradient(#f9eeee, #ffffff);
}

.red::before {
    content: 'Date:';
    color: #FF0000;
}

.place::before {
    content: 'Place:';
    color: #FF0000;
}

.time::before {
    content: 'Time:';
    color: #FF0000;
}

.location-description {
    font-size: 27px;
    font-weight: bold;
}

.location-text {
    padding: 90px 400px 121px 420px;
}

.section-place {
    margin-left: 70px;
}

.section-date {
    margin-left: 17px;

}

.join-btn {
    background-color: #FF0000;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 16px 32px 16px 32px;
    border: none;
    border-radius: 10px;
    margin-left: 115px;
    margin-top: 30px;
}

.offfer-banner {
    display: flex;
    width: 1430px;
    height: 445px;
    margin-left: 270px;
    margin-right: 140px;
    margin-top: 100px;
    gap: 70px;
    width: 60%;
}


.offer-banner-column {
    padding-top: 100px;
    /* padding-right: 50px; */
}

.offer-sub-title {
    font-size: 24px;
    color: #FF0000;
}

.offer-title {
    font-size: 48px;
    color: #070211;
    margin-top: 10px;
}

.offfer-description {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 15px;
}

.offer-image {
    margin-top: 80px;
    border: 14px solid orangered;
    border-radius: 80%;
}

.offer-column-iii {
    margin-left: 40px;
}

.offer-another-title {
    font-size: 42px;
    font-weight: bold;
    color: #FF0000;
    margin-top: 110px;
}

.offer-another-description {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 10px;
}

.sale-container {
    width: 1330px;
    height: 600px;
    margin-left: 270px;
    margin-right: 140px;
    margin-top: 160px;
}

.container-sub-title {
    font-size: 24px;
    color: #070211;
    margin-left: 250px;
}

.container-title {
    font-size: 74px;
    margin-left: 100px;
    margin-top: 10px;

}

.holy-red::before{
    content: 'Holidays';
    color: #FF0000;
}

.container-description {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 15px;
}

.container-margin{
    padding-left: 245px;
    padding-right: 270px;
}

.image-content{
    position: relative;
}

.lady{
    position: relative;
    left: 890px;
    top: 40px;
}

.discount{
    position: relative;
    top: -320px;
    left: 740px;
}

.box{
    position: relative;
    top: -680px;
    z-index: 1;
}

.rectangle{
    position: relative;
    top: -910px;
}